body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.full {	
	border-left: 5px solid #2b2b2b;
	margin-top: -20px;
}
.main{
	 border-left: 104px solid #383838;
}
.top-header {
	padding: 1.25em 3em 1.25em 2em;
	background: rgba(255, 255, 255, 0.47);
}
.header {
	background: url('../../image/ressource/header-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:750px;	
}
.header-info {
	float:right;
	padding:10px;
	width:25%;
	margin: 1% 2.5% 0 0;
	background: #333333;
	border-top:2px solid #479CE4;
	opacity: 0.8;
	border-radius: 0 0 5px 5px;
}
.header-info h1 {
	color:#fff;
	font-size:3.5em;
	font-weight:700;
	margin-bottom:12px;
	padding-bottom:7px;
	border-bottom:1px solid #4b4b4b;
}
p.age {
	color:#f4f4f4;
	font-size:1.15em;
	font-weight:400;
	margin:1.5em 0;
	margin-bottom: 2.5em;
}
p.special {
	color:#f4f4f4;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:2.2em 0;
}
p.age a {
	color:#479CE4;
	padding:7px 10px;
	border:2px solid #479CE4;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	margin-right: 1.2em;
	text-decoration:none;
}
p.review{
	color:#f4f4f4;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:0.8em 0;	
}
a.video {
  background: #479CE4;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  font-weight: 600;
  width:75%;
  display:block;
  margin-top:25px;
  border: 1px solid #479CE4;
}
a.book {
  background: #2A618E;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width:75%;
  display:block;
  margin-top:18px;
  border: 1px solid #2A618E;
}
a.book:hover,a.video:hover {
	background: none;
    border: 1px solid #479CE4;
}
i.book1 {
	width:40px;
	height:35px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -300px -87px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
i.video1 {
	width:40px;
	height:35px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -300px -50px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.menu {
	position: fixed;
	top: 82px;
	left: 5px;
	z-index: 2;
}
.menu ul li {
	list-style-type:none;
	border-bottom:1px solid #4c4c4c;
}
.menu ul li a{
	padding:12px 22px;
	  display: block;
}
.menu ul li a.active {
	background:#393F45;
}
.menu ul li a:hover {
	background: #393F45;
}
i.home {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat 0px 0px;
	display:block;
}
i.home1 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat 0px -60px;
	display:block;
}
i.home2 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat 0px 0px;
	display:none;
}
.menu ul li a:hover div.hm i.home1{
	display:none;
}
.menu ul li a:hover div.hm i.home2{
	display:block;
}
.menu ul li a.active div.hm i.home1{
	display:none;
}
.menu ul li a.active div.hm i.home2{
	display:block;
}
i.videos {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -60px 0px;
	display:block;
}
i.videos1 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -60px -60px;
	display:none;
}
.menu ul li a:hover div.video i.videos{
	display:none;
}
.menu ul li a:hover div.video i.videos1{
	display:block;
}
.menu ul li a.active div.video i.videos{
	display:none;
}
.menu ul li a.active div.video i.videos1{
	display:block;
}
i.watching {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -120px 0px;
	display:block;
}
i.watching1 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -120px -60px;
	display:none;
}
.menu ul li a:hover div.cat i.watching{
	display:none;
}
.menu ul li a:hover div.cat i.watching1{
	display:block;
}
.menu ul li a.active div.cat i.watching{
	display:none;
}
.menu ul li a.active div.cat i.watching1{
	display:block;
}
i.booking {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -180px 0px;
	display:block;
}
i.booking1 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -180px -60px;
	display:none;
}
.menu ul li a:hover div.bk i.booking{
	display:none;
}
.menu ul li a:hover div.bk i.booking1{
	display:block;
}
.menu ul li a.active div.bk i.booking{
	display:none;
}
.menu ul li a.active div.bk i.booking1{
	display:block;
}
i.contact {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -240px 0px;
	display:block;
}
i.contact1 {
	width:60px;
	height:60px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -240px -60px;
	display:none;
}
.menu ul li a:hover div.cnt i.contact{
	display:none;
}
.menu ul li a:hover div.cnt i.contact1{
	display:block;
}
.menu ul li a.active div.cnt i.contact{
	display:none;
}
.menu ul li a.active div.cnt i.contact1{
	display:block;
}
.logo{
	float: left;
	width: 48%;
}
.logo a {
	display: block;
	float: left;
}
.logo p {
	color:#D0D0D0;
	font-size:1.35em;
	letter-spacing:2px;
	text-transform:uppercase;
	float: left;
	border-left: 1px solid #D0D0D0;
	padding:4px 0 4px 20px;
	margin:8px 0 0px 20px;
}
.logo img{
	width: 150px;
	height: 90px;
	margin: -20px 0 0 0;
}
.search{
	float:right;
}
/*--start-search--*/
.search {
	position: relative;
	padding: 8px 10px;
	width: 18%;
	float: right;
	border: 1px solid #f0f0f0;
}
.search input[type="text"] {
	outline: none;
	color: #b3b3b3;
	background: none;
	font-size: 16px;
	border: none;
	width: 84.33%;
}
.search input[type="submit"] {
	background: url('../../image/ressource/sprit-1.png') no-repeat 0px 0px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 2px;
	right: 7px;
	width: 35px;
	height: 35px;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	
	cursor: pointer;
	position: relative;
	  width: 90%;
  margin: 0 5%;
}
/*** Navigation ***/
.nbs-flexisel-nav-left {
	display:none;
}
.nbs-flexisel-nav-right {
	display:none;
}	
.review-slider {
	background: #333333;
	padding: 2.9em 0;
	border-top: 3px solid #479CE4;
}
.more-reviews{
	background:#fff;
	padding:3em 0;
}
.news {
	background:#fff;
	padding:4em 3em;	
	border-top: 3px solid #479CE4;
}
.news-left-grid h3 {
	color:#b8b8b8;
	font-size:2.2em;
	font-weight:700;
}
.news-left-grid h2 {
	color:#383838;
	font-size:3em;
	font-weight:700;
	margin:10px 0;
}
.news-left-grid h4 {
	color: #b8b8b8;
	font-size: 2.25em;
	font-weight: 500;
	margin:3px 0 2.1em 0;
}
.news-left-grid p {
	color:#bb7b29;
	font-size:1.4em;
	font-weight:600;
	margin-top:2.7em;
}
.news-left-grid a {
	background:#bb7b29;
	font-size:1.3em;
	text-decoration:none;
	  padding: 15px 25px 15px 15px;
	color:#fff;
	font-weight:600;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-bottom:3px solid #c9c9c9;
}
.news-left-grid a:hover {
	background:#000;
	border-bottom:3px solid #848484;
}
i.book {
	width: 60px;
	height: 50px;
	background: url('../../image/ressource/img-sprite.png') no-repeat -300px 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}
.news-left-grid p strong {
	font-size:1.6em;
}
.news-right-grid {
	width: 25%;
	float: right;
}
.news-right-grid h3 {
	color:#b8b8b8;
	font-size:2.2em;
	font-weight:700;
	margin-bottom:0.5em;
}
.news-right-grid h5 {
	color:#383838;
	font-size:1.4em;
	font-weight:700;
	margin-bottom:6px;
}
.news-right-grid label {
	color:#b8b8b8;
	font-size:1em;
	font-weight:300;
}
.news-right-grid p {
	color:#b8b8b8;
	font-size:1em;
	line-height:1.4em;
	font-weight:400;
	margin-top:0.5em;
}
.news-grid {
	padding-bottom:1.2em;
	margin-bottom:1.2em;
	border-bottom:1px solid #F3F3F3;
}
.news-right-grid a{
	text-decoration:none;
	font-size:1.3em;
	font-weight:700;
	color:#dfb636;
}
.news-right-grid a:hover {
	color:#000;
}
.footer {
	background:#f3f3f3;
	padding:4em 3em;
}
.footer h6 {
	color:#6F6F6F;
	font-size:1em;
	font-weight:600;
}
p.claim {
	color: #b0b0b0;
	font-size: 0.95em;
	font-weight: 400;
	width: 35%;
	margin: 10px 0;
}
.footer a {
	color: #6F6F6F;
	font-size: 0.95em;
	text-decoration:none;
	font-weight: 400;
	width: 35%;
	margin-top: 6px;
	text-decoration:none;
}
.copyright {
	margin-top:2em;
}
.copyright p {
	color: #b0b0b0;
	font-size: 1em;
	font-weight: 400;
}
.copyright p a {
	color: #000;
}
/*-----right-content-----*/
.right-content{
	padding: 3em;
  border-top: 1px solid #000;
  background:#fff;
}
.content-grid{
	width: 22.75%;
  float: left;
  text-align: center;
  border: 1px solid rgba(235, 235, 235, 0.53);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
  margin-right: 3%;
  margin-bottom: 4%;
}
.last-grid{
	margin-right:0px;
}
.content-grid img{
	display:block;
}
.content-grid h3{
	color: #888;
	text-transform: uppercase;
	  padding: 1em;
	display: block;
	line-height: 1.5em;
	font-size: 0.875em;
}
.content-grid ul li{
	display:inline-block;
}
.content-grid img{
	display:block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	  width: 100%;
}
.content-grid:hover  img{
	-webkit-filter: grayscale(100%);
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.content-grid ul li a{
	padding:0 5px;
	display:block;
}
.button{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	text-transform: uppercase;
	display: block;
	margin: 10px 0 0 0;
	font-size: 0.875em;
}
.button:hover{
	color:#888;
}
.right-content-heading-left{
	padding: 11px 0;
}
.right-content-heading {
	border-bottom: 1px solid #F1F0F6;
	  margin: 0 0 3em 0;
}
.right-content-heading-right{
	float:right;
}
.right-content-heading-left h3{
	color: #888;
	text-transform: uppercase;
	display: block;
}
/*----start-pagenation-----*/
.pagenation{
	text-align: center;
}
.pagenation ul li{
	display:inline-block;
}
.pagenation ul li a{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	text-transform: uppercase;
	display: block;
	font-size: 0.875em;
}
.pagenation ul li a:hover{
	color: #888;
}
.pagenation ul li:last-child{
	padding-left:1em;
}
.span_top{
	background:#fff;
}
.reviews-section {
	background: #fff;
	padding:3em;
	border-top:1px solid #000;
}
h3.head {
	color: #000;
	font-size: 2.5em;
	font-weight: 700;
}
.movie-pic {
	float:left;
	width:24%;
	margin-right:3%;
}
.movie-pic img {
	width: 100%;
}
.review-info {
	float:left;
	width:73%;
}
.review {
	margin-top: 4em;
}
a.span {
	color: #000;
	font-size: 1.8em;
	text-decoration:none;
	font-weight: 600;
}
p.dirctr {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
}
p.dirctr a {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
	text-decoration:none;
}
.yrw {
	margin: 2em 0;
}
p.ratingview {
	color: #000;
	font-size: 1em;
	font-weight: 600;
	float: left;
	margin:10px 0px;
}
.rating {
		  direction: rtl;
		  text-align: center;
		    float: left;
			margin:10px 10px;
		}
		.rating > span {
		  display: inline-block;
		  position: relative;
		  width: 1.1em;
		}
		.rating > span:hover,
		.rating > span:hover ~ span {
		  color: transparent;
		}
		.rating > span:hover:before,
		.rating > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: gold;
		}
p.info {
	font-size: 1em;
	font-weight: 400;
	color: #000;
	margin: 15px 0px;
	height: 22px;
	overflow: hidden;
}
.dropdown {
  padding: 4px 0;
  float:left;
  outline: none;
  width:23%;
  margin-bottom:0.5em;
}
.rtm {
	float:left;
	width:23%;
	margin-top:6px;
}
.rtm a {
	text-decoration:none;
	color:#fff;
	background:#df2411;
	padding:5px 10px;
}
.rtm a:hover,.wt a:hover {
	background:#000;
}
.wt {
	float:left;
	width:23%;
	margin-top:6px;
}
.wt a {
	text-decoration:none;
	color:#fff;
	background:#37a4c5;	
	padding:5px 10px;
}
/*-- error-page --*/
.error-page{
	padding:2em 0 5em 0;
}
.error-404 {
	padding-top: 8em;
	min-height: 700px;
	border-top: 1px solid #000;
}
.error-404 h2{
	font-size: 13em;
	font-weight: 500;
	color: #fc5700;
	padding: 0;
	text-transform: uppercase;
	margin-top: 0.4em;
}
.error-404 p{
	color: #4f4844;
	margin: 0;
	font-size: 1.4em;
} 
a.b-home{
	background:#272e34;
	padding:0.7em 2.5em;
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	margin-top:1em;
}
a.b-home:hover{
	background:#fc5700;
}
/*--contact--*/
.main-contact{
	padding:4em 5em;
	  border-top: 1px solid #000;
}
.main-contact p{
	color: #000;
	font-size: 1.2em;
	word-spacing: 2px;
	letter-spacing: 1.3px;
	font-weight: 600;
	text-transform: lowercase;
	margin-top: 2px;
	margin-left: 15px;
}
.main-contact h3{
	margin-left: 15px;
}
.contact-form{
	margin-top:3em;
}
.main-contact form input[type="text"],.main-contact form textarea{
	width: 100%;
	padding: 10px 14px;
	border: 3px solid #000;
	font-size: 1.2em;
	margin-bottom:1.5em;
	color: #000;
	outline: none;
	font-weight:400;
}
.main-contact form textarea {
	resize:none;
	height:201px;
	border-radius: 0;
}
.main-contact form input[type="submit"] {
	font-size: 1.35em;
	font-weight:400;
	color: #fff;
	outline: none;
	border: 3px solid #000;
	padding: 0.5em 3em;
	background:#000;
	margin-top: 0em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.main-contact form input[type="submit"]:hover{
	background:#fff;
	color:#000;
}
.contact_info {
	margin-top:2em;
}
.contact_info h3 {
	color: #000;
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom:0.7em;
}
.map {
	padding:0 15px;
}
.map iframe {
	width:100%;
	min-height:350px;
}
/*----*/
.featured ul li {
	display: inline-block;
	width: 28.333%;
	float: left;
	margin: 2.5%;
}
.featured ul li img {
	width:100%;
}
.featured ul li p {
	font-weight: 400;
	margin-top: 5px;
	line-height: 1.4em;
	font-size: 0.9em;
	color: #494949;
}
.featured h3 {
	color: #000;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 0.6em;
}
.featured {
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	padding: 1em 0;
}
.entertainment ul li a {
	font-weight: 400;
	margin-top: 5px;
	text-decoration:none;
	font-size: 0.9em;
	color: #494949;
	line-height: 1.8em;
}
.entertainment ul li {
	display:inline-block;
	float:left;
	width: 75%;
}
.entertainment ul  {
	margin-top:1em;
	padding-bottom:1em;
	border-bottom:1px solid #eee;
}
.entertainment h3 {
	color: #000;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 0.8em;
}
.entertainment {
	border-bottom: 5px solid #000;
	padding: 1em 0;
}
.entertainment ul li.ent {
	width: 21%;
	margin-right: 4%;
}
.entertainment ul li.ent img {
	width: 100%;
}
/*----*/
.grid-might{
	float:left;
	width: 24%;
	margin-right: 5%;
}
.might-top{
	float:right;
	width:71%;
}
.might-top p{
	font-size:0.9em;
	color:#494949;
	line-height:1.8em;
}
.might-grid {
	padding: 1em 0 0;
}
.might h4 {
	color: #000;
	font-size: 2.3em;
	font-weight: 600;
	margin-bottom: 0.6em;
}
.might-top a{
	text-decoration:none;
	color:#dfb636;
	font-size:1em;
	display:inline-block;
	padding: 1em 0 0;	
}
.might-top a:hover{
	color:#ec098d;
}
.might-top a i{
	background: url(../../image/ressource/img-sprite.png)no-repeat -103px -103px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.grid-top h4,.grid-top-in h4 {
	background: #df2411;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.35em;
	font-weight: 700;
	display: block;
	line-height: 1em;
	text-transform: uppercase;
}
/*----*/
.grid-top ul li{
	background: url('../../image/ressource/dot.png') no-repeat 0px 17px;
	padding: 12px 0px 5px 17px;
	border-bottom: 1px solid #E8E6E6;
	list-style-type:none;
}
.grid-top ul li:nth-child(7){
	border-bottom:none;
}
.grid-top ul li a{
	color:#494949;
	line-height:1.8em;
	text-decoration:none;
	font-size: 0.9em;
	padding: 0 0 10px;
	display: block;
}
.grid-top ul li a:hover{
	color:#00aedb;
}
.grid-top-in p{
	color:#5261ac;
	font-size:1.3em;
	line-height: 1.7em;
	padding: 0.5em 0 0;
}
.grid-top-in p a{
	color:#5261ac;
	text-decoration:none;
}
.grid-top-in p a.bun{
	font-size:0.8em;
}
.grid-top-in p a.lop{
	color:#f78f1d;
	font-size:1.3em;
	font-weight: 700;
}
.grid-top-in p a.dan{
	font-size:1.6em;
	font-weight: 500;	
}
.grid-top-in p a.eva{
	font-size:1.4em;	
}
.grid-top-in p a.jol{
	font-size:1.4em;
font-weight: 700;	
}
.grid-top {
	padding:1em 0 0.5em;
}
.content {
	padding: 2em 0 0;
}
.grid-top-in p a:hover{
	color:#ec098d;
}
.might {
	margin: 2em 0;
}
.single {
	margin-top:2em;
}
.single h3{
	color:#000;
	font-size:1.7em;
	font-weight:600;
	margin-bottom:1em;
}
.single p{
	color:#000;
	font-size:1.4em;
	font-weight:600;
	margin-bottom:1em;
}
.single p i {
	font-weight:400;
	font-size:0.95em;
}
.best-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
}
.story-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
	border-bottom: 3px solid #000;
}
.story-review h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.best-review  h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.story-review p {
	color:#000;	
	font-weight: 400;
	font-size: 1em;
	line-height:1.8em;
}
.best-review p span {
	color:#37a4c5;
	font-weight:600;
}
.best-review p {
	margin-top:0.8em;
}
.comments-section{
	padding:2em 0;
}
.comments-section-head-text h3 {
	float: left;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 1.6em;
}
.comments-section-middle-grid{
	margin-left:2.5em;
}
.comments-section-grid {
	margin-bottom: 3.5em;
}
.comments-section-grid-image img{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.comments-section-grid-text{
	padding-left:1em;
}
.comments-section-grid-text h4 a{
	font-weight:900;
	font-size:16px;
	color:#464851;
	text-decoration: none;
}
.comments-section-grid-text h4 a:hover{
	color:#2DBEEA;
}
.comments-section-grid-text p{
	color:#464851;
	font-size:0.95em;
	font-weight:400;
	margin:0.3em 0 1em 0;
	line-height:1.7em;
}
.comments-section-grid-text span a{
	font-weight:600;
	font-style:italic;
	font-size:20px;
	color:#dfb636;
	text-decoration: none;
}
.comments-section-grid-text label{
	color:#7F8BA3;
	font-size:14px;
	font-weight:400;
	font-style:italic;
	margin-top:5px;
}
.comments-section-grid-text i.rply-arrow{
	width:25px;
	height:25px;
	background: url("../images/img-sprite.png") no-repeat -669px -94px;
	display: inline-block;
	vertical-align:middle;
}
.reply-section-head-text h3 {
	float: left;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 1.6em;
}
.reply-section{
	padding:2em 0;
}
.blog-form input[type="text"], textarea {
	width: 100%;
	padding: 9px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border: 1px solid #BBC4C9;
	margin-bottom: 2em;
	font-size: 15px;
	font-weight: 400;
	color: #7F8BA3;
	outline: none;
	font-style:normal;
}
.blog-form textarea {
	resize:none;
	height:11em;
}
.blog-form input[type="button"] {
	padding: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: normal;
  width: 20%;
}
.blog-form input[type="button"]:hover {
	background: #dfb636;
}